<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Plotter</title>
	</head>
	<body>
		<header>
			<h1>Plotter</h1>
		</header>
		<section>
			<article>
				<label for="function">Function</label>
				<
			</article>
			<article>
				<%= yield %>
			</article>
		</section>
	</body>
</html>